<div class="row w-100" *ngIf="isLoaded">
  <div class="col-12 w-100">
    <h1 mat-dialog-title class="text-center">Nouvelle Projection</h1>
    <div [formGroup]="projectionFormGroup" mat-dialog-content class="w-100">
      <!--  <p>What's your favorite animal?</p>-->
      <mat-form-field>
        <mat-label>Prix</mat-label>
        <input matInput formControlName="prix">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Categorie</mat-label>
        <mat-select formControlName="categorie" (selectionChange)="onChangeCategorie($event)">
          <mat-option *ngFor="let categorie of categories" [value]="categorie.id">
            {{categorie.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Film</mat-label>
        <mat-select formControlName="film">
          <mat-option *ngFor="let film of films" [value]="film.id">
            {{film.titre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>date de projection</mat-label>
        <input type="date" (change)="onChangeDateProjection()" matInput formControlName="dateProjection">
      </mat-form-field>
      <div formArrayName="salleSeances">
        <mat-form-field appearance="fill" *ngFor="let salleSeances of salleSeancesList">
          <mat-label>{{salleSeances.salle.name}}</mat-label>
          <mat-select [formControl]="salleSeances.salle.formControl" multiple>
            <mat-option *ngFor="let seance of salleSeances.seances" [value]="seance.id">
              {{seance.heureDebut}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--      <mat-form-field class="w-100">-->
      <!--        <mat-label>description</mat-label>-->
      <!--        <input matInput formControlName="description">-->
      <!--      </mat-form-field>-->
      <!--      <mat-form-field class="w-100">-->
      <!--        <mat-label>realisateur</mat-label>-->
      <!--        <input matInput formControlName="realisateur">-->
      <!--      </mat-form-field>-->
      <!--      <mat-form-field class="w-100">-->
      <!--        <mat-label>duree</mat-label>-->
      <!--        <input type="number" matInput formControlName="duree">-->
      <!--      </mat-form-field>-->


      <!--      <mat-form-field>-->
      <!--        <mat-label>Photo</mat-label>-->
      <!--        <input formControlName="photo" type="file">-->
      <!--      </mat-form-field>-->
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button (click)="onReSet()">Reset</button>
      <button mat-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
    </div>

  </div>
</div>
